{% for addrmap in nodes.addrmaps %}
{% if addrmap != top_node %}
// Addrmap: {{ addrmap.inst_name }}
class {{ addrmap.inst_name }}_t : public NodeBase {
public:
    {{ addrmap.inst_name }}_t(uint64_t base_offset)
        : NodeBase("{{ addrmap.inst_name }}", base_offset) {
        {% for child in addrmap.children() %}
        {% if child.inst_name %}
        {{ child.inst_name }}.set_master(master_);
        {% endif %}
        {% endfor %}
    }

    void set_master(Master* master) override {
        NodeBase::set_master(master);
        {% for child in addrmap.children() %}
        {% if child.inst_name %}
        {{ child.inst_name }}.set_master(master);
        {% endif %}
        {% endfor %}
    }

    void set_offset(uint64_t base_offset) {
        offset_ = base_offset;
    }

    {% for child in addrmap.children() %}
    {% if child.inst_name %}
    {{ child.inst_name }}_t {{ child.inst_name }}{offset_};
    {% endif %}
    {% endfor %}
};

{% endif %}
{% endfor %}
