{% for mem in nodes.mems %}
// Memory: {{ mem.inst_name | safe_id }}
{%- set entry_reg = mem.children()|list|first %}

class {{ mem.inst_name | safe_id }}_t : public MemoryBase<{{ entry_reg.inst_name | safe_id }}_t> {
public:
    {{ mem.inst_name | safe_id }}_t(uint64_t base_offset)
        : MemoryBase<{{ entry_reg.inst_name | safe_id }}_t>(
              "{{ mem.inst_name | safe_id }}", base_offset,
              0x{{ "%x" | format(mem.address_offset) }},
              {{ mem.get_property('mementries') }}, {{ entry_reg.size }}) {}
};

{% endfor %}
