{% for mem in nodes.mems %}
// Memory: {{ mem.get_path() }}
{%- set entry_reg = mem.children()|list|first %}

class {{ mem | pybind_name }}_t : public MemoryBase<{{ entry_reg | pybind_name }}_t> {
public:
    {{ mem | pybind_name }}_t(uint64_t base_offset)
        : MemoryBase<{{ entry_reg | pybind_name }}_t>(
              "{{ mem.inst_name | safe_id }}", base_offset,
              0x{{ "%x" | format(mem.address_offset) }},
              {{ mem.get_property('mementries') }}, {{ entry_reg.size }}) {}
};

{% endfor %}
