{% for regfile in nodes.regfiles %}
// Regfile: {{ regfile.inst_name | safe_id }}
class {{ regfile.inst_name | safe_id }}_t : public NodeBase {
public:
    {{ regfile.inst_name | safe_id }}_t(uint64_t base_offset)
        : NodeBase("{{ regfile.inst_name | safe_id }}", base_offset, 0x{{ "%x" | format(regfile.address_offset) }}) {
        {% for child in regfile.children() %}
        {% if child.inst_name %}
        {{ child.inst_name | safe_id }}.set_master(master_);
        {% endif %}
        {% endfor %}
    }

    void set_master(Master* master) override {
        NodeBase::set_master(master);
        {% for child in regfile.children() %}
        {% if child.inst_name %}
        {{ child.inst_name | safe_id }}.set_master(master);
        {% endif %}
        {% endfor %}
    }

    void set_offset(uint64_t base_offset) override {
        NodeBase::set_offset(base_offset);
        // Each child receives this regfile's new absolute offset; the child
        // then re-applies its own relative offset internally.
        {% for child in regfile.children() %}
        {% if child.inst_name %}
        {{ child.inst_name | safe_id }}.set_offset(offset_);
        {% endif %}
        {% endfor %}
    }

    {% for child in regfile.children() %}
    {% if child.inst_name %}
    {{ child.inst_name | safe_id }}_t {{ child.inst_name | safe_id }}{offset_};
    {% endif %}
    {% endfor %}
};

{% endfor %}
