// Top-level SoC class
class {{ soc_name }}_t : public NodeBase {
public:
    {{ soc_name }}_t() : NodeBase("{{ soc_name }}", 0) {
        {% for child in top_node.children() %}
        {% if child.inst_name and not child.__class__.__name__ == 'RegNode' %}
        {{ child.inst_name }}.set_offset(offset_);
        {% endif %}
        {% endfor %}
    }

    void attach_master(Master* master) {
        set_master(master);
        propagate_master(master);
    }

    void set_offset(uint64_t offset) {
        offset_ = offset;
        {% for child in top_node.children() %}
        {% if child.inst_name and not child.__class__.__name__ == 'RegNode' %}
        {{ child.inst_name }}.set_offset(offset_);
        {% endif %}
        {% endfor %}
    }

    void propagate_master(Master* master) {
        {% for child in top_node.children() %}
        {% if child.inst_name %}
        {{ child.inst_name }}.set_master(master);
        {% endif %}
        {% endfor %}
    }

    {% for child in top_node.children() %}
    {% if child.inst_name %}
    {{ child.inst_name }}_t {{ child.inst_name }}{0x{{ "%x" | format(child.absolute_address if child.absolute_address else 0) }}};
    {% endif %}
    {% endfor %}
};
